<div class="col-md-6 col-lg-4">
    <div class="tasks-content">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Название песни</h4>
                <h6 class="card-subtitle mb-2 text-muted">Исполнитель</h6>
                <p class="card-text">Жанр: жанр<br>Сложность: сложность<br>Ограничения: ограничения</p>
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <a href="#" class="card-link">Старт</a>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <a href="#" class="card-link">Не рекомендовать</a>
                    </div>
                </div>
             </div>
        </div>
    </div>
</div>