<tr class="table-primary">
    <th scope="row">1</th>
    <td>Dance Monkey</td>
    <td>Tones And I</td>
    <td>Поп</td>
    <td>1</td>
    <td>Нет</td>
    <td><button type="button" class="btn btn-outline-primary">Старт</button></td>
</tr>
 <tr class="table-info">
     <th scope="row">2</th>
     <td>My Funny Valentine</td>
     <td>Sting</td>
     <td>Поп</td>
     <td>2</td>
     <td>18+</td>
     <td><button type="button" class="btn btn-outline-primary">Старт</button></td>
 </tr>
<tr class="table-success">
    <th scope="row">3</th>
    <td>Perfect</td>
    <td>Ed Sheeran</td>
    <td>Поп</td>
    <td>3</td>
    <td>Нет</td>
    <td><button type="button" class="btn btn-outline-primary">Старт</button></td>
</tr>
<tr class="table-warning">
    <th scope="row">4</th>
    <td>Sweet Dreams (Are Made of This)</td>
    <td>Eurythmics</td>
    <td>Поп</td>
    <td>4</td>
    <td>Нет</td>
    <td><button type="button" class="btn btn-outline-primary">Старт</button></td>
</tr>
<tr class="table-danger">
    <th scope="row">5</th>
    <td>Falling</td>
    <td>Trevor Daniel</td>
    <td>Поп</td>
    <td>5</td>
    <td>Нет</td>
    <td><button type="button" class="btn btn-outline-primary">Старт</button></td>
</tr>