<tr class="table-primary">
    <td><button type="button" class="btn btn-link">Dance Monkey</button></td>
    <td>Tones And I</td>
    <td>Поп</td>
</tr>
 <tr class="table-info">
     <td><button type="button" class="btn btn-link">My Funny Valentine</button></td>
     <td>Sting</td>
     <td>Поп</td>
 </tr>
<tr class="table-success">
    <td><button type="button" class="btn btn-link">Perfect</button></td>
    <td>Ed Sheeran</td>
    <td>Поп</td>
</tr>
<tr class="table-warning">
    <td><button type="button" class="btn btn-link">Sweet Dreams (Are Made of This)</button></td>
    <td>Eurythmics</td>
    <td>Поп</td>
</tr>
<tr class="table-danger">
    <td><button type="button" class="btn btn-link">Falling</button></td>
    <td>Trevor Daniel</td>
    <td>Поп</td>
</tr>